#mainContainer {
  top: 20%;
  left: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 640px;
  height: 360px;
}

#content, #adContainer {
  position: absolute;
  width: 640px;
  height: 360px;
}

#contentElement {
  top: 0px;
  left: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 360px;
  overflow: hidden;
}
